<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>
    <section class="cabecera">
        <a href="/">volver</a>
        <h1><%=entradas[0].nombre%></h1>
    </section>

    <section class="formulario">
        <form action="/entrada/<%=id%>" method="POST">
            <div>
                <label for="lote">Lote</label>
                <input type="text" placeholder="p. ej. 150055-52" name="lote" id="lote">
            </div>
            <div>
                <label for="cantidad">Cantidad sin Unidades</label>
                <input type="text" placeholder="p. ej. 50" name="cantidad" id="cantidad">
            </div>
            <div>
                <label for="fecha_caducidad">Fecha de Caducidad</label>
                <input type="date" name="fecha_caducidad" id="fecha_caducidad">
            </div>
            <input type="submit" value="añadir entrada">
        </form>
        <p></p>
    </section>

    <section class="entradas">
        <div class="entrada">
            <p>Lote</p>
            <p>Cantidad</p>
            <p>Fecha de Entrada</p>
            <p>Fecha de Caducidad</p>
            <p>Estado</p>
            <p>Usuario</p>
        </div>
        <% for(let i = 0; i < entradas.length; i++){ %>
            <% if(entradas[i].id !== null) { %>
                <div class="entrada">
                    <p><%= entradas[i].lote %></p>
                    <p><%= entradas[i].cantidad %></p>
                    <% let entrada = entradas[i].fecha_entrada.toLocaleDateString('es-ES') %><p><%= entrada %></p>
                    <% let caducidad = entradas[i].fecha_caducidad.toLocaleDateString('es-ES') %><p><%= caducidad %></p>
                    <p><%= entradas[i].estado %></p>
                    <p><%= entradas[i].usuario %></p>
                    <button><a data-id="<%= entradas[i].id %>" href="#">Borrar</a></button>
                </div>
            <% }else{ %>
                <p class="noexiste">No existen entradas aún</p>
            <% } %>
        <% } %>
    </section>

    <script src="/ajax.js"></script>
    <script src="/entradas.js"></script>
    
</body>
</html>