<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilo.css">
</head>
<body>
    
    <section class="cabecera">
        <h1>Saludos, <%=usuario%></h1>
        <a href="/logout">cerrar sesión</a>
    </section>

    <section class="productos">
        <a href="/nuevo-producto">añadir producto</a>
        <% for(let i = 0; i < productos.length; i++){ %>
            <div class="producto">
                <p><a href="/entrada/<%=productos[i].id%>"><%= productos[i].sku %></a> - <%= productos[i].nombre %></p>
                <p><%= productos[i].estado %></p>
                <p>Descripción : <%= productos[i].descripcion %></p>
            </div>
        <% } %>
    </section>

</body>
</html>